header{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: rgb(133, 133, 133);
overflow: hidden;
position: relative;
}
.header{
    background-image: url(1_audi_rs_6_avant_legacy_traseira-35692474.jpg);
}